@font-face {
    font-family: yugothi-bold;  
    src: url(../fonts/yugothib.ttf);  
    font-weight: normal;  
}
@font-face {
    font-family: yugothi-light;  
    src: url(../fonts/yugothil.ttf);  
    font-weight: normal;  
}

* {
    font-family:  Roboto,  sans-serif;
}

/* Text Block Stlyes */

p, pre {
font-size: 14pt;
}

p.is-style-center-text{
    text-align: center;
}

h2 {
    font-size: 24pt;
    font-weight: bold;
}

li {
    list-style-type: none; 
}

pre.wp-block-code {
    font-family: monospace !important;
}

.wp-block-pullquote p{
    font-family: "yugothi-bold";
}
.wp-block-pullquote cite{
    font-family: "yugothi-light";
    font-weight: 100;
}



.wp-block-quote {
    color: blue;
}

.wp-block-quote.is-style-fancy-quote {
    color: tomato;
}

.entry-content > * {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.alignwide {
    max-width: 1200px;
}

.alignfull {
    max-width: 100%;
}

